<div class="users_list">
	<h1>This is the Users Index Page</h1>


	<% @users.each do |user| %>
		<%= link_to user.name, :action => 'show', :controller => 'users', :id => user.id %><br>
		Email: <%= user.email %><br>
		Username: <%= user.username %><br><br>
	<% end %>
</div>