<h1>this is the home page</h1>

<%= link_to "Go to users index", {:action => "index", :controller => "users"} %>


<%= link_to "Sign Up", {:action => 'new', :controller => 'users'} %><br>

<%= link_to "Sign In", {:action => 'new', :controller => 'sessions'} %>