<div class="home_index">
	<h1>this is the home page</h1>

	<p>
	  <%= flash[:success] unless flash[:success].blank? %>
	  <%= flash[:error] unless flash[:error].blank? %>
	</p>

	<%= link_to "Sign In", {:action => 'new', :controller => 'sessions'} %><br>

	<%= link_to "Sign Up", {:action => 'new', :controller => 'users'} %><br>


</div>