<%= form_tag :action => 'create' do %>

	<p><label for="content"> Content: </label>
	<%= text_area :posts, 'content' %></p>

	<%= submit_tag "Post" %>

<% end %>

<%= link_to 'Back', {:action => 'index', :controller => 'users'} %>